In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file = 'Resources/vine_table.csv'

In [2]:
vine_df = pd.read_csv(file)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
vine_df.count()

review_id            2643619
star_rating          2643614
helpful_votes        2643614
total_votes          2643614
vine                 2643614
verified_purchase    2643614
dtype: int64

In [4]:
filtered_vine_df = vine_df[(vine_df["total_votes"] >= 20)]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [5]:
filtered_vine_df.count()

review_id            39376
star_rating          39376
helpful_votes        39376
total_votes          39376
vine                 39376
verified_purchase    39376
dtype: int64

In [6]:
helpful_df = filtered_vine_df[((filtered_vine_df['helpful_votes']/filtered_vine_df['total_votes']*100) >= 50)]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [7]:
helpful_df.count()

review_id            38010
star_rating          38010
helpful_votes        38010
total_votes          38010
vine                 38010
verified_purchase    38010
dtype: int64

In [8]:
vine_review_df = helpful_df[(helpful_df['vine'] == 'Y')]
vine_review_df.count()

review_id            170
star_rating          170
helpful_votes        170
total_votes          170
vine                 170
verified_purchase    170
dtype: int64

In [9]:
non_vine_review_df = helpful_df[(helpful_df['vine'] == 'N')]
non_vine_review_df.count()

review_id            37840
star_rating          37840
helpful_votes        37840
total_votes          37840
vine                 37840
verified_purchase    37840
dtype: int64

In [10]:
number_vine_reviews = vine_review_df['total_votes'].count()
number_vine_reviews

170

In [11]:
vine_5star = vine_review_df[(vine_review_df['star_rating'] >= 5)]
vine_5star = vine_5star['star_rating'].count()
vine_5star

65

In [12]:
percent_vine = (vine_5star/number_vine_reviews *100)
percent_vine

38.23529411764706

In [13]:
non_vine = non_vine_review_df['total_votes'].count()
non_vine

37840

In [14]:
non_vine_5 = non_vine_review_df[(non_vine_review_df['star_rating']>=5)]
non_vine_5 = non_vine_5['star_rating'].count()
non_vine_5

20612

In [15]:
percent_non_vine = non_vine_5 / non_vine * 100
percent_non_vine

54.471458773784356